.container__nav {
    height: 70px;
    background-color: #090b13;
    display: flex;
    align-items: center;
    padding: 0 36px;
    overflow-x: hidden;
}

.logo {
    width: 80px;
}

.nav__menu {
    display: flex;
    flex: 1;
    margin-left: 25px;
    align-items: center;
}

.nav__menu a {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.nav__icon {
    height: 20px;
}

.nav__icon_title {
    font-size: 13px;
    letter-spacing: 1.42px;
    position: relative;
}

.nav__icon_title::after {
    content: "";
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    opacity: 0;
    transform-origin: left center;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scaleX(0);
}

.nav__icon_title:hover::after {
    transform: scaleX(1);
    opacity: 1;
}

.user__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}